.table th, .table td {
    text-align: center;
  }
  .collapse {
    display: none;
  }
  .year-summary {
    margin-top: 10px;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .action-cell {
    cursor: pointer;
    text-align: center;
  }
  
  .expand-icon::before {
    content: '\25BC'; /* Downward triangle for expand */
  }
  
  .collapse-icon::before {
    content: '\25B2'; /* Upward triangle for collapse */
  }
  
  .monthly-data-row {
    background-color: #f9f9f9;
  }