<form [formGroup]="formGroup">
<!--  <p-floatlabel>-->
<!--    <input id="username" pInputText formControlName="formGroup.principal" />-->
<!--    <label for="username">Username</label>-->
<!--  </p-floatlabel>-->
<!--  <p-floatlabel>-->
<!--    <input id="username1" pInputText [(ngModel)]="value" />-->
<!--    <label for="username">Username</label>-->
<!--  </p-floatlabel>-->
<!--  <p-floatlabel>-->
<!--    <input id="username2" pInputText [(ngModel)]="value" />-->
<!--    <label for="username">Username</label>-->
<!--  </p-floatlabel>-->
<!--  <p-floatlabel>-->
<!--    <input id="username3" pInputText [(ngModel)]="value" />-->
<!--    <label for="username">Username</label>-->
<!--  </p-floatlabel>-->
<!--  <p-floatlabel>-->
<!--    <input id="username4" pInputText [(ngModel)]="value" />-->
<!--    <label for="username">Username</label>-->
<!--  </p-floatlabel>-->
</form>
