.loan-details-form {
  padding: 3%;
}

.form-element-label {
  color: #FFFFFF !important;
}

.loan-start-date {
  font-size: 0.75rem;
  display: flex;
}

.date-picker-element {
  position: relative;
  top: -1.25rem;
}
